$body-font-family: 'Inter';
$title-font: 'Inter';

@import 'vuetify/styles';

.v-application {
  font-family: $body-font-family, sans-serif !important;

  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .headline,
  .title,
  .subtitle-1,
  .subtitle-2,
  .body-1,
  .body-2,
  .caption,
  .overline {
    font-family: $body-font-family !important;
  }
}

.v-field--variant-solo {
  box-shadow: unset !important;
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}
